extends layouts/main-layout.pug

block content
    p #{userLoggedIn.username}

        //- .row.row-cols-1.row-cols-md-3.g-4
        //-     .col
        //-         .card.h-50
        //-         .card-body
        //-             h6.card-title Card title
        //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        //-     .col
        //-         .card.h-50
        //-         .card-body
        //-             h6.card-title Card title
        //-             p.card-text This is a short card.
        //-     .col
        //-         .card.h-50
        //-         .card-body
        //-             h6.card-title Card title
        //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content.
        //-     .col
        //-         .card.h-50 
        //-         .card-body
        //-             h6.card-title Card title
        //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
