extends layouts/main-layout.pug

block content
    +createPostForm(userLoggedIn)
    .postsContainer 

            //- .row.row-cols-1.row-cols-md-3.g-4
            //-     .col
            //-         .card.h-50 
            //-         img.card-img-top(src="..." alt="course image")
            //-         .card-body
            //-             h5.card-title Computer Information
            //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            //-     .col
            //-         .card.h-50 
            //-         img.card-img-top(src="..." alt="course image")
            //-         .card-body
            //-             h5.card-title Mathematics
            //-             p.card-text This is a short card.
            //-     .col
            //-         .card.h-50 
            //-         img.card-img-top(src="..." alt="course image")
            //-         .card-body
            //-             h5.card-title Science
            //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content.
            //-     .col
            //-         .card.h-50 
            //-         img.card-img-top(src="..." alt="course image")
            //-         .card-body
            //-             h5.card-title Law
            //-             p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
