:root {
    --themeColorBlue: #09507C;
    --themeButtonBg: #0099ff;
    --themeBluelight: #9BD1F9;
    --themeGreyButtonText: rgba(0,0,0,0.34);
    --themeLightGrey: rgb(230, 236, 240);
    --themeGreyText: rbg(101, 119, 134);
    --themeSpacing: 20px; 
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

nav a.graduationCap {
    color: var(--themeColorBlue);
}

nav a:hover {
    background-color: var(--themeButtonBg);
    color: var(--themeColorBlue);
    border-radius: 50%;
    opacity: 30%;
}
button {
    background-color: transparent;
    border: none;
    color: var(--themeGreyButtonText);
}
.mainSectionContainer {
    padding: 0%;
    border-left: 1px solid var(--themeLightGrey);
    border-right: 1px solid var(--themeLightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 50px;
    padding: 0px var(--themeSpacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--themeLightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1
}

.postFormContainer {
    display: flex;
    padding: var(--themeSpacing);
    border-bottom: 3px solid var(--themeLightGrey);
    flex-shrink: 0;
}

.userImageContainer {
    width: 40px;
    height: 40px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
}

.textareaContainer {
    flex: 1;
    padding-left: var(--themeSpacing);
}
.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 15px;
}

#submitPostButton {
    background-color: var(--themeColorBlue);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
    margin-top: 7px;
}

#submitPostButton:disabled {
    background-color: var(--themeLightGrey);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--themeSpacing);
    cursor: pointer;
    border-bottom: 1px solid var(--themeLightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}
.postContentContainer {
    padding-left: var(--themeSpacing);
    display: flex;
    flex-direction: column;
    flex: 1
}


.username,
.date {
    color: var(--themeGreyText);
}
.fullName {
    font-weight: bold;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter 
.postButtonContainer {
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 5px 5px;
}

.header a:hover{
    text-decoration: underline;
}

.header a,
.header span {
    padding-right: 5px;
}

.postButtonContainer button:hover {
    background-color: #d4edff;
    color: var(--themeColorBlue);
    border-radius: 50%;
}